#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.clock {
  margin: auto;
  display: flex;
  border: whitesmoke solid 2px;
  width: 150px;
  height: 150px;

  flex-direction: column;
  justify-content: center;
}

.student-list-table {
  margin: 10px;
  border-collapse: collapse;
  border: 2px solid whitesmoke;
  width: 80%;
  height: 20%;
}

.student-list-table tr td, .student-list-table tr th {
  text-align: center;
  padding: 10px 50px;
}