#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  width: 40%;
  height: 100px;
  margin-bottom: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  background: #242424;
}

header button, form button {
  height: 60%;
  width: 20%;
  margin: 10px;
  border: white 1px solid;
  border-radius: 10px;
}

.clock {
  margin: auto;
  display: flex;
  border: whitesmoke solid 2px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 20px;

  flex-direction: column;
  justify-content: center;
}

.student-list-table {
  margin: 10px;
  border-collapse: collapse;
  border: 2px solid whitesmoke;
  width: 80%;
  height: 20%;
}

.student-list-table tr:nth-child(even) {
  background-color: hsl(0, 0%, 20%);
}

.student-list-table tr td, .student-list-table tr th {
  text-align: center;
  padding: 10px 50px;
}

.student-list-table tr th {
  background-color: #242424;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input {
  width: 20%;
  margin: 5px;
  background: whitesmoke;
  border: 3px solid whitesmoke;
  color: black;
  padding: 5px;
  border-radius: 10px;

}

form button {
  margin: 10px;
}